<form method="post">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gite.id) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipements.id) }}">
</form>
